.git
.venv*
.env
.env.local
.env.shipit
.idea
.langgraph_api
.pytest_cache
__pycache__
*.py[cod]
*.db
node_modules
dist
data/milvus/*
!data/milvus/docling.db/
!data/milvus/docling.db/**
*.DS_Store
tests
